.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  list-style-type: none;
}
.menu-list li{
  padding: 15px;
}
.menu-area{
  display: flex;
  justify-content: center;
}
.search-box{
  position: absolute;
  border-bottom: 1px solid black;
  right: 20px;
  padding: 5px;
}
.search-box input{
  border: none;
  margin-left: 5px;
}
.search-box input:focus{
  outline: none;
}
.card{
  border: none !important;
  margin-bottom: 10px;
}
.card:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
}
.login-area{
  display: flex;
  justify-content: center;
}
.product-img{
  display: flex;
  justify-content: flex-end;
}
.add-button{
  width: 60%;
}
footer{
  margin: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 63rem){
  .search-box {
    display: none;
  }
  .address{
    display: none;
  }
}